@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --cream: #FFFBF0;
  --primary: #FFC400;
  --primary-dark: #D99A00;
  --text-main: #171717;
  --text-muted: #606060;
  --radius-card: 16px;
}

body {
  color: var(--text-main);
  background: var(--background);
  font-family: var(--font-space-grotesk), sans-serif;
  min-height: 100vh;
}
